#registrardispcad{
  background-color: skyblue;
  padding-left: 10px;
  padding-right: 10px;
}

#textregdispcad{
    font-size: 24px;
    color: white;
}

#butregdispcad{
    background-color: azure;
    
}

#cajaregdispcad{
    background-color: white;
}

#butregdispterminos{
    background-color: white;
}




